{% extends "accounts/base.html" %} {% load staticfiles %} {% block style %}
<link rel="stylesheet" href="{% static '/css/gologin.css' %}"> {% endblock %}
{% block content %}

<div class="custom-container">
  <div class="row">
    <div class="logo col s6 offset-s3">
      <img src="{% static '/img/checklogo.png' %}" width="100%" />
    </div>
    <p class="logo-text purple-text col s12 center">
        Check Check
    </p>
  </div>
  <div class="row">
    <p class="center sub-title">
      Check Check은<br />
      회원가입이 필요한 서비스 입니다.
    </p>
  </div>
  <div class="row">
    
  <a href="/accounts/login/" class="login-btn btn purple col s12">
        로그인
  </a>
  </div>
</div>
{% endblock %}
