{% extends "main/base.html" %} {% load staticfiles %} {% block style %}
<link rel="stylesheet" href="{% static '/css/style.css' %}"> {% endblock %}
{% block content %}


<div class="row margin-zero">
  <div class="col s12 custom-tab">
    <ul class="tabs">
      <li class="tab col s4"><a class="active" href="#test1"><i class="material-icons">import_contacts</i></a></li>
      <li class="tab col s4"><a href="#test2"><i class="material-icons">speaker_notes</i></a></li>
      <li class="tab col s4"><a href="#test4"><i class="material-icons">home</i></a></li>
  </ul>
</div>

</div>
<div id="test1" class="col s12">
    <div class="row margin-zero">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1 custom-card card-1 center">
          <div class="card-content white-text">
            <span class="card-title "><br>단원별 모의고사</span>
            <p>각 단원별로 시험응시가 가능합니다.</p>
        </div>
    </div>
    <div class="card blue-grey darken-1 custom-card card-2 center">
      <div class="card-content white-text">
        <span class="card-title"><br>모의 모의고사</span>
        <p>실제 수능과 같은 형식으로 시험이 진행됩니다.</p>
    </div>
</div>
<div class="waves-effect card custom-card-button" onclick="window.location.href = '/test/';">
  <div class="card-content white-text padding-zero">
    <p class="custom-card-title center">연습 모의고사 보기</p>
</div>
</div>
<div class="card custom-card-button custom-card-button-2">
  <div class="card-content padding-zero">
    <p class="custom-card-title center">틀렸던 문제만 모아풀기</p>
</div>
</div>
</div>
</div>

</div>


<div id="test2" class="col s12">
  <ul class="collection margin-zero">
    <li class="collection-item avatar">
      <i class="material-icons circle">star</i>
      <span class="title">공지사항</span>
      <p>새로운문제가 추가됬습니다. 풀어보세요!<br>
         5분전
      </p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">제육덮밥님</span>
      <p>연습 모의고사를 시작하였습니다! <br>
         7분전
      </p>
      <a href="#!" class="secondary-content"></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">assignment_ind</i>
      <span class="title">소프</span>
      <p>새로운 사용자가 등록되었습니다! <br>
         11분전
      </p>
    </li>
  </ul>
</div>
<div id="test4" class="col s12 white">
    <div class="row">
      <div class="col s12 center">
        <h4>{{ request.user.name }}</h4>
    </div>
</div>
<div class="row">
  <div class="col s4 offset-s4">
    <img src="{% static '/img/checklogo.png' %}" width="100%">
</div>
</div>
<div class="row">
  <div class="col s3 center">
    <h5>{{ solve_count }}</h5>
    <p>푼문제</p>
</div>
<div class="col s3 center">
    <h5>{{ solve_collect_count }}</h5>
    <p>맞은문제
    </p>
</div>
<div class="col s3 center">
    <h5>{{ solve_not_collect_count }}</h5>
    <p>틀린문제</p>
</div>
<div class="col s3 center">
    <h5>{{ collect_percent }}%</h5>
    <p>정답률</p>
</div>
</div>
<div class="row">
  <div class="progress">
    <div class="determinate" style="width: {{ collect_percent }}%"></div>
</div>
</div>
<div class="row">
  <div class="col s12 center">
    <h5>History</h5>
    <div class="divider"></div>
</div>
<div class="col s12 center">
    <h5>Ranking</h5>
    <div class="divider"></div>
</div>
<div class="col s12 center">
    <h5>About</h5>
</div>

</div>
</div>

{% endblock %}