 {% load staticfiles %}
 <!DOCTYPE html>

 <html>
 <head>
  <title></title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript">
    var datas = [];
    var labels = [];


    var datas2 = [];
    var labels2 = [];
    $(document).ready(function() {
      $.ajax({
        type: "GET",
        url: "test.csv",
        dataType: "text",
        success: function(data) {processData(data);}
      });
    });

    function processData(allText) {
      datas = [];
      labels = [];
      datas2 = [];
      labels2 = [];
      var allTextLines = allText.split('\n');
      for(i=0;i<allTextLines.length;i++){
        var entries = allTextLines[i].split(',');
        datas.push(entries[1]); 
        labels.push(entries[0]); 
        datas2.push(entries[5]); 
        labels2.push(entries[0]); 
      }

    new Chart(document.getElementById("myChart"),{"type":"line","data":{"labels":labels,"datasets":[{"label":"주행연비","data":datas,"fill":false,"borderColor":"rgb(75, 192, 192)","lineTension":0.1}]},"options":{
    animation: {
        duration: 0
    }
}});
    
    new Chart(document.getElementById("myChart2"),{"type":"line","data":{"labels":labels2,"datasets":[{"label":"연료잔량","data":datas2,"fill":false,"borderColor":"rgb(75, 192, 192)","lineTension":0.1}]},"options":{
    animation: {
        duration: 0
    }
  }});
    }
    setInterval(function(){ 
      $.ajax({
        type: "GET",
        url: "{% static '/css/test.csv' %}",
        dataType: "text",
        success: function(data) {processData(data);}
      });
    }, 3000);
  </script>
</head>
<body>
  <div style="width:75%;">
    <canvas id="myChart"></canvas>
    <canvas id="myChart2"></canvas>
  </div>

  <script>
  </script>
</body>
</html>